/*-------- Some regular styles -----------*/


body {
    margin: auto;
    padding: 0;
    width: 100%;
    height: 100%;
    direction: rtl;
    overflow-x: hidden;
    min-width: 150px;
    max-width: 1920px;
    background: #cacaca;
}

* {
  transition: all 250ms;
}

h1,h2,h3,h4,h5, p {
    margin: 0;
    padding: 0;
}

.container {
    height: 50%;
}

a {
    text-decoration: none;
    padding: 3px;
}

#app {
    font-family: vazir;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
  }
  
  /*------------- Header style -------------*/
  
  .head-sec {
      position: relative;
      width: 100%;
      box-shadow: 0px 2px 5px #5d5d5d;
      background-image: url("sylvain-cleymans-bORJDL9I9mM-unsplash.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      overflow: auto;
  }

  .head-h-m {
    min-height: 100vh;
  }

  .head-h-s {
    min-height: 50vh;
    background-position: center;
  }

  .head {
      width: 100%;
      min-height: 150px;
  }
  
  .main-sec {
    width: 100%;
    transition: margin-right 250ms;
  }
  
  .npushed {
    margin-right: 0;
  }
  
  .pushed {
    margin-right: 60%;
  }

  .navbar {
    position: absolute;
    top: 16px;
    right: 5%;
    font-size: 17px;
    pointer-events: none;
  }

  .navbar > a {
    padding: 15px;
    color: #222222;
    transition: all 250ms;
    pointer-events: auto;
  }.navbar > a:hover {
    background-color: #3d3d3d63;
    color: #fff;
  }.navbar > a:first-child {
    border-bottom-right-radius: 40px;
  }.navbar > a:last-child {
    border-bottom-left-radius: 40px;
  }
  
  .m-nav-container {
    width: 60%;
    height: 100%;
    position: fixed;
    z-index: 99;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: all 250ms;
  }
  
  .m-nav-hide {
    margin-right: -60%;
  }
  
  .m-nav-show {
  margin-left: 0;
  }
  
  .navs {
    text-align: center;
  }
  
  .navs > a {
    display: block;
    color: #fff;
    padding: 20px 0px;
  }.navs > a:hover {
    background: #264422;
  }
  
  #m-top-nav {
      display: block;
      width: 40px;
      height: 40px;
      line-height: 40px;
      border-radius: 10px;
      background-color: #445269;
      margin: 20px;
      color: #fff;
      text-align: center;
      transition: all 0.5s;
  }
  
  .fa-times {
    background-color: #000000 !important;
  }

  .head-info {
    text-align: center;
    margin-top: 100px;
    pointer-events: none;
  }
  
  .website-title {
    font-size: 40px;
    text-align: center;
    color: #e7e7e7;
    font-family: elianto;
  }

  .head-info > p {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 22px;
    color: #c0c0c0;
    background: #293647c4;
  }
  
  /*---------------- Footer style ---------------*/
  
  .foot-sec {
      width: 100%;
      background-color: #293647;
      box-shadow: 0px -2px 5px #5d5d5d; 
      background-image: url("paul-gilmore-KT3WlrL_bsg-unsplash.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      overflow: auto;
      min-height: 70vh;
      align-items: center;
      justify-items: center;
  }
  
  .info {
    height: fit-content;
    background: #2f354e77;
    color: #e2e2e2;
    text-align: justify;
    padding: 30px;
  }
  
  .social {
      width: 100%;
      text-align: center;
      margin: 15px 0px;
  }
  
  .social > .fa {
      padding: 15px;
      font-size: 25px !important;
      width: 25px;
      text-align: center;
      text-decoration: none;
      margin: 5px 2px;
      border-radius: 50%;
  }
  
  .fa-youtube {
      background: #bb0000;
      color: white;
  }
    
  .fa-instagram {
      background: #125688;
      color: white;
  }
  
  .fa-paper-plane {
      background: #0088cc;
      color: white;
  }
  
  .fa-github {
      background: #333;
      color: white;
  }
  
  .fa-google {
      background: #dd4b39;
      color: white;
  }
  
  #copyright {
      color: #e2e2e2c7;
      text-align: center;
      margin-top: 15px;
  }

    /*------------- Responsive stuffs -------------*/

  @media only screen and (min-width: 0px) {
    #top-nav {display: none;}
  }


  @media only screen and (max-width: 200px) {
    .website-title {font-size: 20px;}
  }

  @media only screen and (min-width: 480px) {
    
  }

  @media only screen and (min-width: 768px) {
    .foot-sec {display: grid; grid-template-columns: auto auto;}
    .info {width: 350px;}
  }

  @media only screen and (min-width: 960px) {
    #m-top-nav, #mobile-nav {display: none;}
    #top-nav {display: block;}
  }
  
  @media only screen and (min-width: 1048px) {
    
  }

  @media only screen and (min-width: 1366px) {
    
  }

  @media only screen and (min-width: 1680px) {
    
  }

  @media only screen and (min-width: 1920px) {

  }

  @media only screen and (min-width: 2560px) {
  }

